
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{ /*adding body style*/
    background: #bbbbbb; /*background color dark*/
    background-image: rgba(0, 0, 0, 0.1); /* Set the background image with opacity */
    color: #fff; /*text color light*/
    background-image: url('bg2.png');
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center center; /* Center the background image */
    background-size:contain;
    height: 100vh;/* Set the height of the body to 100% of the viewport height */
}
/*#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed; /*This keeps the video in place when the user scrolls, and allows other content to sit on top of it
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }*/
#header{ /*use # when it's an ID*/
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: stretch;
    background-color: rgb(0, 0, 0, .5);
    padding: 5px 10px;
    height: 45px;
}
.logo img  {
    width: 100%; /* Adjust size as needed */
    height: 100%;
    
  }
/*.logoname img {
    width: 140px; /* Adjust size as needed 
    height: auto;
    position: absolute;
    top: 12px;
    left: 65px;
}
nav ul {
    list-style-type: none;
    display: flex;
  }
  
nav ul li {
    margin-right: 20px;  Adjust spacing between buttons 
  }*/
.buttons {
    display: flex; /* Make buttons flex items */
    align-items: center; /* Align buttons vertically */
    margin-left: 20px; /* Adjust the distance from the logo */
  }
.button {
    width: 85px;
    /*height:30px;*/
    height: 100%; /* Make the button height match the header height */
    cursor: pointer;
    color: #d6d6d6;
    /*border: 2px solid transparent;*/
    border: none;
    position: relative;
    /*border-radius: 0.6rem;*/
    border-radius: 0; /* Remove border radius */
    background: transparent;
    transition: 0.35s ease;
    text-decoration: none;
    text-align: center;
    
    /*padding: 0;  Remove any padding 
    margin: 0;  Remove any margin 
    display: inline-block; /* Set display to inline-block 
    box-sizing: border-box; /* Include border in height calculation */
  }
  
.button:hover {
    border-left: 0.5px solid #bdb9b3; /* Show left border on hover */
    border-right: 0.5px solid #bdb9b3; /* Show right border on hover */
    background-color: rgba(16, 13, 8, 0.5); /* Change background color on hover */
    /*height: calc(100% - 4px); /* Adjust height to accommodate borders 
    /*color: #9d7d56;
    background-color: rgba(44, 31, 6, 0.5);
    border-color: #9d7d56; /* Change border color on hover
    box-shadow: 0 0 5px #9d7d56, 0 0 25px #9d7d56;*/
}